/* ====== Section to display jumbotron and container for background ====== */

/* Added "fluid" to stretch the header 
across the width of browser */
.container-fluid {
  background-color: black;
  padding-bottom: 50px;
  z-index: 1;
}

/* Shows the title of the page.
Fade properties to blend jumbotron to bg-image */
.jumbotron {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
}

/* Dimensions used to position the jumbotron */
#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  padding-top: 0px;
  z-index: 1;
  background: rgba(0,0,0,0.5);
}
/* ====== Section that contains video and logo properties/values ======== */

/* Container to display bg-video */
#vid-container {
  overflow: hidden;
  height: 380px;
  background: black;
  position: relative;
}

/* Position of the video */
video {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
/* Position of the logo in the jumbotron */
#logo {
  z-index: 10;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
}
/* ====== Section that contains the search bar and functionality ========== */

/* Removes the submit button from 
the page by making it transparent*/
#submit {
  background: transparent;
  border: none;
  z-index: -1;
}

/* Search bar to search for artist(s) */
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, 0);
}

/* Controls how far the search bar will expand */
input[type=text]:focus {
  width: 25%;
}

/* Adjust search bar margins */
form {
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}
/* ====== Section that contains column "a" and response data ================= */

/* Display related artist title */
.related-head {
  text-align: center;
  margin-top: 15px;
  color: white;
}
/* Dimensions of the scroll for column "a" */
#a {
  width: 50%;
  background-color:rgb(119, 119, 119);
  height: 750px;
  overflow: scroll;
}

/* Styling for the "Learn More" container */
.art-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/ span 12;
  margin: 30px;
}
.art-info {
  background: lightgray;
  opacity: .7;
  color: black;
  padding: 10px 10px 10px;
  grid-column: 1 /span 4;
  grid-row: 2 /span 1;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}
.relart {
  grid-column: 2 /span 9;
  grid-row: 1 /span 3;
  width: 100%;
}
#a img {
  width: 100%;
}



/* ====== Section that contains column "b" and response data ================== */

/* Column b properties to contain "Learn More"
info and favorite artist divs */
#b {
  width: 50%;
  background-color: rgb(214, 209, 209);
  height: 300px;
} 

#b1 {
  width: 50%;
  background-color: rgb(214, 209, 209);
  min-height: 450px;
} 

#b1 .img {
  height: 300px;
  width: auto;
}

#b2{
  width: 50%;
  background-color: #aaa;
  min-height: 300px;
} 

/* Properties to style favorite 
related artist(s) in div "b2" */
.favartists {
  color: blue;
  font-size: 30px;
}

/* To display favorite artist list */
.favart {
  padding: 0px 10px 0px 10px;
}

/* Sub title of the fav-artist section 
and its styling properties*/
.favartists {
  color: whitesmoke;
  font-size: 15px;
}
#favorites {
  text-align: center;
  margin: 10px;
  color: white;
  text-decoration: underline;
}
/* ====== Section that contains footer, body and html clean ups ================== */

/* Footer to display our company name */
.footer {
  width: 100%;
  position: static;
  text-align: center;
  color: gray;
  padding-top: 5px;
}

/* Set bg-color to black */
body {
  background: black;
}

/* To remove hor. scroll */
html, body, #a {
  max-width: 100%;
  overflow-x: hidden; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}