.container-fluid {
    background-image: url("../images/vinyl.jpg");
    background-repeat: no-repeat;
}

.container-fluid {
    background-color: red;
    padding-bottom: 50px;
}

.jumbotron {
    padding-bottom: 50px;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

h1 {
    font-size: 50px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 35%;
}